.odd-numbered-element{
    background-color: hsl(354, 72%, 79%);
    font-family: Verdana, DejaVu Sans, sans-serif;
}
#blueFont{
    color: rgb(0, 0, 255);
    font-size: 36px;
}
.odd-numbered-element.third-line{
    font-size: 24px;
}
#num4{
    background-color: lightgreen;
    font-size: 24px;
    font-weight: 700;
}
